
block body
  h1 Welcome
  - if (req.user)
    p
      a(href='/account') Your account
      | &nbsp;|&nbsp;
      a(href='/logout') Log Off
  - else
    p
      a(href='/register') Register
      | &nbsp;or&nbsp;
      a(href='/login') Log in
  